            html {
            font-size: 16px;
            font-family: 'Montserrat', sans-serif; 
            }
            body::-webkit-scrollbar {
            width: 12px;               /* width of the entire scrollbar */
            }

            body::-webkit-scrollbar-track {
            background: #DDA061;;        /* color of the tracking area */
            }

            body::-webkit-scrollbar-thumb {
            background-color: #53221D;    /* color of the scroll thumb */
            border-radius: 20px;       /* roundness of the scroll thumb */
            border: 3px solid #DDA061;;  /* creates padding around scroll thumb */
            }
            body {
            color: #53221D;
            margin: 0px;    
            background-image: url('img/sunset.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-color: beige;
            }



            p, li, a {
            font-family: 'Montserrat', sans-serif;
            color: #53221D;
            }

            h1,h2, h3 { 
            font-family: 'Merienda', cursive;
            font-weight: bold;

            }
            .wrapper {
            margin: 0 auto;
            width: 70%; 
            }

            .image {
            height: 100px;
            }
            .nav {
            height: 80px;
            color: #FFFFFF;
            margin-bottom: 45px; 
        }

            .nav__container {
            margin-top: 50px;
            display: flex;
            height: 100%;
            justify-content: space-between;
            align-items: center; }
            .logo {
            width: 80px;
            height: 80px; 
        }

            .nav__menu {
            display: grid;
            grid-auto-flow: column;
            gap: 3em;
            font-size: 20px;
            margin-top: 20px; }

            .nav__item {
            --clippy: polygon(0 0, 0 0, 0 99%, 0% 100%);
            color: #A16038;
            text-decoration: none;
            font-weight: bold;
            font-family: 'Merienda', cursive;
        
        }

            .nav__item::after {
            content: "";
            display: block;
            background: #DDA061;
            width: 90%;
            margin-top: 3px;
            height: 3px;
            clip-path: var(--clippy);
            transition: clip-path .3s; }

            .nav__item:hover {
            --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

            .nav__label, .nav__input {
            display: none; }

            @media (max-width: 860px) {
            .nav__img {
            margin-top: 20px;
            margin-right: -50px; }
            .nav__item {
            color: #53221D;
            font-weight: bolder; }
            .logo {
            width: 70px;
            height: 70px; }
            .nav__label {
            display: block;
            cursor: pointer; }
            .nav__menu {
            position: fixed;
            top: 80px;
            bottom: 0;
            background: linear-gradient(to right, #d1913c, #ffd194);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            width: 100%;
            left: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            clip-path: circle(0 at center);
            transition: clip-path 1s ease-in-out; }
            .nav__input:checked + .nav__menu {
            clip-path: circle(100% at center); } }
            .quote {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
            /* background-image: url("./img/banner1.jpg"); */
            }

            #phrase {
            line-height: 40px;
            }

            .img1 {
            width: 100%;
            margin-bottom: 100px;
            }

            .about-me {
            display: flex;
            align-items: center;
            justify-content: space-between; 
            margin-bottom:50px ;
            border: 1px solid #53221D;
            padding: 1rem;
            border-radius: 40px;

            }

            .about-me p {

            line-height:35px;
            margin: 0;
            padding: 1rem;
            font-size: 1rem; 
            text-align: justify;


            }
            .mente {
                color: #53221D;
            }
            .mente:hover {
                color: #A16038;
            }
            .me {
            width: 35%;
            border-radius: 20px;
            margin-right: 1rem;
            }

            .projects {
            /* display: flex;
            align-items: center;
            justify-content: space-between;  */
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: space-between;
            margin-bottom: 50px;
            }

            /* .projects img {
            width: 30%;
            } */

            .project-detail {
            border-radius: 0.5rem;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 30%;
            border: 1px solid #53221D;
            border-radius: 10px;
            }
            .project-detail img {
            border-radius: 10px;
            width: 100%;
            }
            .list img {
                width: 20%;
                height: 55%;
                margin-right: 11px;
                
                }
            .list li {
                list-style: none;
                display: flex;

            }
            .list ul {
                display: flex;
                flex-direction: column;
            }
            .project-detail h3 {
            text-align: center;
            }
            .project-detail ul {
            margin:20px;
            line-height: 30px;
            }
            .project-detail a {
            text-align: right;
            margin: 20px;
            text-decoration: none;
            color: #53221D;
            font-weight: bold;
            } 
            .project-detail a:hover {
            text-decoration:underline;
            }


            #about-me {
            text-align: center;
            margin-bottom: 50px;
            }

            #projects {
            text-align: center;
            margin-bottom: 50px;
            }

            .contact {
            background-image: url(img/sunset.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 10px;
            gap: 2rem;
            margin: 3.75rem; }
            @media (max-width: 600px) {
            .contact {
                flex-direction: row;
                margin-left: -1.25rem;
                width: 120%;
            }
                .contact h2 {
                font-size: 3rem; } }
            .contact ul {
            list-style: none; }
            .contact ul li {
                display: flex; 
                margin-bottom: 1rem;
            }
            #correo {
                color: #53221D;
                text-decoration: none;
                margin-top: 13px;
                font-size: 20px;
            }

            #contacto {
            text-align: center;
            margin-bottom: 50px;
            }

            .contact-info {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 3.75rem; 

            }
            .contact-info p {
            font-size: 20px;
            color: #53221D;
            }
            .contact-info img {
                width: 5%;
                height: 5%;
            }
            .contact-info li img {
            margin-right: 0.438rem; 
            margin-top: 15px;
            }
            @media (max-width: 900px) {
            .contact-info {
                width: 70%;
                height: 24rem; 
            
            } 
            .contact-info img {
                width: 15%;
                height: 15%;
            }
        
        }
        #steph {
            width: 100%;
        }


            @media (max-width:900px) {
            .quote {
                flex-direction: column;
            }
            .img1 {
                width: 100%;
            }
            .about-me {
                flex-direction: column;
            }

            .me {
                width: 100%
            }
            .about-me {
                line-height: 30px;
            }
            .projects {
                flex-direction: column;
            }
            .project-detail {
                flex-direction: column;
                width: 100%;
            }
            .list  li{
                margin-bottom: 16px;
            }
            }

